header {
	font-family: 'Playfair Display SC', serif;
	font-size: 20px;
}

footer {
	font-family: Raleway;
}

main {
	display: flex;
	justify-content: center;
	font-family: Raleway;
}

.register_form {
	height: 100em;
}

.gallery-rows {
    display: flex;
    flex-direction: column;
}

.gallery-row {
    display: flex;
    justify-content: center;
}

.miniature {
    margin: 1em;
    height: 15em;
    width: 15em;
}

.stretch-image {
    display: block;
    object-fit: contain;
    object-position: 50% 50%;

}

.column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.stats-main {
    display: flex;
    flex-direction: column;
}