header {
	font-family: 'Playfair Display SC', serif;
	font-size: 20px;
}

footer {
	font-family: Raleway;
}

.gallery-rows {
    display: flex;
    flex-direction: column;
}

.gallery-row {
    display: flex;
    justify-content: center;
}

.miniature {
    margin: 1em;
    width: 15em;
    height: 15em;
}