{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
{% endblock %}

{% block title %}Авторы{% endblock %}

{% block content %}
<div>
    <p>Сайт DrawEveryDay — некоммерческий проект за авторством
        <span class="fst-italic">Леонтьева Михаила</span> и <span class="fst-italic">Сергея Голышева</span>.</p>

    <p><h5>Контакные данные:</h5></p>
    <p><ul style="list-style-type: none">
        <li><i class="bi bi-envelope-fill"></i>
            <a href="mailto:tennantonelove@yandex.ru"
            style="text-decoration: none">tennantonelove@yandex.ru (Михаил)</a>
            <button class="btn-copy btn btn-light"
                    style="margin-left:0.5em;"
                    data-clipboard-text="tennantonelove@yandex.ru">
                <i class="bi bi-clipboard"></i>
            </button>
        </li>
    </ul></p>
    <p><ul style="list-style-type: none">
        <li><i class="bi bi-envelope-fill"></i>
            <a href="mailto:tennantonelove@yandex.ru"
               style="text-decoration: none">zcthutqpakakal@gmail.com (Сергей)</a>
            <button class="btn-copy btn btn-light"
                    style="margin-left:0.5em;"
                    data-clipboard-text="tennantonelove@yandex.ru">
                <i class="bi bi-clipboard"></i>
            </button>
        </li>
    </ul></p>
</div>

<script>
    let handlerCopy = new ClipboardJS('.btn-copy');
    handlerCopy.on('success', function(e) {
        e.trigger.innerHTML = '<i class="bi bi-clipboard-check"></i>';
    });
</script>
{% endblock %}