{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}

{% block title %}{{ task }} от {{ username }}{% endblock %}

{% block content %}
<style>
    main {
        margin-left: 2em;
        justify-content: flex-start !important;
    }
</style>

<div>
    <img class="stretch-image border" style="width: 40em; height: 40em;" src="../static/users_pictures/{{ picture_name}}">
</div>
<div style="font-size: 1.5em; margin-left: 1em">
    Автор: <b><a id="user_name" href="/user/{{ user_id }}" class="link-dark">{{ username }}</a></b><br>
    Сложность: <b>
    {% if task_difficulty == 0 %}<span style="color: green;">Лёгкий</span>{% endif %}
    {% if task_difficulty == 1 %}<span style="color: orange;">Средний</span>{% endif %}
    {% if task_difficulty == 2 %}<span style="color: red;">Сложный</span>{% endif %}
</b>
    {% if your_image %}
    <br>
    <a class="btn btn-danger" role="button" href="/delete_image/{{ picture_id }}"><i class="bi bi-trash"></i></a>
    {% endif %}
</div>
{% endblock %}