{% extends "base.html" %}

{% block title %}Рисование{% endblock %}

{% block content %}
<style>
	.alert {
		margin: 0.75em 0 !important
	}
</style>

<div class="column-center" style="margin: 0 50em">
	<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
		<input value="Легко" type="radio" class="btn-check" name="btnradio" id="easy" autocomplete="off">
		<label class="btn btn-outline-success" for="easy">Лёгкая</label>
		<input value="Средне" type="radio" class="btn-check" name="btnradio" id="medium" autocomplete="off">
		<label class="btn btn-outline-warning" for="medium">Средняя</label>
		<input value="Сложно" type="radio" class="btn-check" name="btnradio" id="hard" autocomplete="off">
		<label class="btn btn-outline-danger" for="hard">Сложная</label>
	</div>
		
	<script>
		function printMessage(button) {
			return function(e) {
				ok = confirm("Вы действительно хотите перейти на сложность \"" + button.value + "\"? Это дейтсвие сотрёт ваше текущее задание.");
				if(ok) {
					last_btn = button;
					document.location.href = '/update_task/' + button.id;
				} else last_btn.checked = true;
			}
		}
			
		easy = document.getElementById('easy');
		medium = document.getElementById('medium');
		hard = document.getElementById('hard');
			
		let last_btn = {{ difficulty }}
		last_btn.checked = true;
			
		easy.addEventListener("click", printMessage(easy));
		medium.addEventListener("click", printMessage(medium));
		hard.addEventListener("click", printMessage(hard));
	</script>
		
	<div class="card text-center column-center" style="margin-top: 1em;">
		<div><img src="{{ image_cap }}" class="card-img-top" alt="..." style="width: 30em;"></div>
		<div class="card-body">
			<h5 class="card-title"><b>Тема на сегодня:</b> {{ caption }}</h5>
			<p class="card-text"><b>Интересный факт:</b> {{ fact }}</p>
			
			<form method="post" enctype="multipart/form-data" id="upload_image">
				{{ form.hidden_tag() }}
				{{ form.picture(class="btn btn-primary", id="upload_button") }}
			</form>
			
			{% if done_message %}
			<div class="alert alert-success" role="alert">{{ done_message }}</div>
			{% endif %}
			
			{% if error_message %}
			<div class="alert alert-danger" role="alert">{{ error_message }}</div>
			{% endif %}
			
			{% for error in form.picture.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
			
			<script>
				let form = document.getElementById("upload_image");
				let uploading = document.getElementById("upload_button");
				
				uploading.oninput = function() { form.submit() };
			</script>
		</div>
	</div>
</div>
{% endblock %}