{% extends "base.html" %}

{% block title %}Галерея картинок{% endblock %}

{% block content %}
<div class="gallery-rows">
    {% for path in files %}
    {% if loop.index % 3 == 1 %}
    <div class="gallery-row">
    {% endif %}
        <a href="/discover_image/{{ path }}"><img class="miniature rounded-3 border stretch-image"
                                                  src="../static/users_pictures/{{ path }}"></a>
    {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}