{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<style>
.formform {
	display: flex;
	justify-content: center;
}
</style>

<div class="formform">
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
		<a href="/login">Уже есть аккаунт?</a>
    </form>
</div>
{% endblock %}